<h1>Competition Show</h1>

<%= link_to 'Register a New Team', '/teams/new'%>

<p><%= @competition.name%></p>
<p><%= @competition.location%></p>
<p><%= @competition.sport%></p>

<% @competition.teams.each do |team|%>
  <p><%= team.nickname %></p>
<%end%>

<p>Average age of players: <%= @competition.average_age.round%></p>
